default_config:

logger:
  default: info
  logs:
    custom_components.trakt_tv: debug

trakt_tv:
  language: fr
  timezone: Europe/Paris
  sensors:
    upcoming:
      show:
        days_to_fetch: 90
      movie:
        days_to_fetch: 90
        max_medias: 3
    all_upcoming:
      show:
        max_medias: 5
    recommendation:
      movie:
        max_medias: 10
      show:
        max_medias: 2
    list:
      - id: 3837211
        sort_by: added
        sort_order: desc
