default_config:

logger:
  default: info
  logs:
    custom_components.trakt_tv: debug

trakt_tv:
  language: fr
  sensors:
    upcoming:
      show:
        days_to_fetch: 60
      movie:
        days_to_fetch: 90
        max_medias: 3
